<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <hr class="login-hr">
                    <div class="box">
                        <figure class="avatar">
                            <img class="logo-post" class="centered" height="40%" width="40%"src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/La_Poste_tunisienne_2011.svg/1200px-La_Poste_tunisienne_2011.svg.png">
                        </figure>
                        <form>
                            <label class="label" >Vérifier vos informations personnels</label>
                            <div class="select">
                                
                                <select>
                                  <option>Nom</option>
                                  <option>With options</option>
                                </select>
                              </div>
                              <label class="label" >Vérifier l'adresse de votre destinataire</label>
                              <div class="select">
                                <select>
                                  <option>Addresse</option>
                                  <option>With options</option>
                                </select>
                              </div>
                              <label class="label" >Vérifier le produit a livrer</label>
                              <div class="select">
                                <select>
                                  <option>Contact</option>
                                  <option>With options</option>
                                </select>
                              </div>
                        
                              <div class="control">
                                <button  id="retour" class=" button is-medium"> <a href="/article">Retour</a></button>
                            
                                <button id="suivant" class="button is-primary is-medium"> <a href="#">Submit</a></button>
                              </div>
                        </form>
                    </div>
                    <p class="has-text-grey">
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>