<figure class="avatar">
    <img class="logo-post" height="200px" width="200px" centered src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/La_Poste_tunisienne_2011.svg/1200px-La_Poste_tunisienne_2011.svg.png">
</figure>
<div id="app">
    <div class="section">
      <div class="container">

        <form id="register-form" >
            <div class="field">
                <label class="label">Nom</label>
                <div class="control">
                  <input class="input" type="text"placeholder="insérez votre nom">
                </div>
              
              </div>
              <div class="field">
                <label class="label">Raison social</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Raison social">
                </div>
             
              </div>
              <div class="field">
                <label class="label">Adresse</label>
                <div class="control">
                  <input class="input" type="text" placeholder="insérez votre Adresse" >
                </div>
               
              </div>
              <div class="field">
                <label class="label">Tel</label>
                <div class="control">
                  <input class="input" type="text" placeholder="insérez votre télephone" >
                </div>
               
              </div>
              <div class="field">
                <label class="label">Code postal</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Code postal" >
                </div>
               
              </div>
          <div class="field">
            <label class="label" for="code">Code douane</label>
            <div class="control ">
              <input class="input" type="text" placeholder="Code douane"/>
            </div>
            <label class="label" for="email">Email</label>
            <div class="control ">
              <input class="input" type="email" placeholder="Email" name="email"/>
            </div>
            <div class="columns row-one">
              <div class="column">
                <label class="label" for="firstName">Fax</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Fax" name="firstName"/>
                </div>
              </div>
              <div class="column">
                <label class="label" for="lastName">Ville</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Ville" name="lastName"/>
                </div>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <label class="label" for="password"> mot de passe</label>
                <div class="control ">
                  <input class="input" type="password" placeholder="mot de passe" name="password"/>
                </div>
              </div>
              <div class="column">
                <label class="label" for="retypePassword"> Retaper le mot de passe</label>
                <div class="control ">
                  <input class="input" type="password" placeholder="Retaper  le mot de passe" />
                </div>
              </div>
            </div>
            <div class="field is-grouped buttons">
              <div class="control">
                <button  id="retour" class=" button is-medium"> <a href="/login">Retour</a></button>
              </div>
              <div class="control">
                <button id="suivant" class="button is-primary is-medium"><a href="/destinataire">Suivant</a></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>